<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Message Tester</h1>
    <p class="lead">Test Utility for Creating Message Objects</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header form-label">Input</h1>
      <div class="form-containers">
        <textarea class="form-control" rows="3" ng-model="message"></textarea>
      </div>
      <div class="form-containers">
        <button ng-disabled="messageSubmitted" ng-click="submitMessage()" class="btn btn-primary">
          Submit
        </button>
        <button ng-disabled="messageSubmitted" ng-click="clearMessage()" class="btn btn-primary">
          Clear
        </button>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header form-label">Result</h1>
      <div class="form-containers">
        <code>
          {{ convertedObject }}
        </code>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Message Tester |  <a href="http://www.code.com">some link</a> |
  </div>
</footer>
